<div class="p-5 text-center bg-image rounded-3 hero">
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-black p-4 align-self-center">
        <h1 class="mb-3">Unlock your potential.</h1>
        <h4 class="mb-3">Our mission is to provide Moroccan freelancers with a smooth job search experience.</h4>
        <a class="btn btn-warning btn-lg" href="#" role="button">Learn more.</a>
      </div>
    </div>
  </div>
</div>

  <div class="">
    <div style="background-color: silver;">
      <div class="container p-3">
        <div class="row">
          <div class="col-md-8">
            <h3>The time is now.</h3>
            <p>Our mission is to provide Moroccan freelancers &amp; with a smooth job search experience. </p>
            <p>Find offers from Hundreds of companies and organizations in Morocco.</p>
            <strong>Chase your dreams, Join today.</strong>
          </div>
          <div class="col-md-4">
            <img
              src="https://www.westend61.de/images/0001162941pw/womans-hands-working-on-laptop-at-home-office-top-view-MOMF00639.jpg"
              alt="" class="w-100 rounded">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2></h2>
          <div class="card bg-dark d-flex align-self-center">
            <img src="https://i.kym-cdn.com/photos/images/original/001/900/244/fb7.jpg" alt=""
              class="w-100 rounded card-img gigachad">
            <div class="card-img-overlay card-container">
              <div class="p-3 mb-3 d-flex justify-content-center flex-wrap">
                <div class="quote">
                    <p style="color:rgb(0,0, 0); text-align: center;"><b>Make your dreams come true.</b> </p>
                    <p class=""><small></small></p>
                </div>

                <%= link_to 'Browse Missions', missions_path, class: 'btn btn-warning custom-btn' %>
                <%= link_to 'Create Mission', new_mission_path, class: 'btn btn-warning custom-btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="container mt-5">
  <div class="container d-flex flex-wrap">
    <% @missions.first(5).each do |mission|%>
      <div class="card m-1"style="width: 206px">
        <%= cl_image_tag("oorxnhfwegtuekzccdxt", class:'card-img-top') %>
        <div class="card-body">
          <h2 class="card-title"><h2 class="card-title"><%= link_to mission.title, mission_path(mission)%></h2></h2>
          <h3 class="card-subtitle"><%= mission.user.username %></h3>
          <p class="text-truncate"><%= mission.details %></p>
          <h4><%= mission.price %> MAD</h4>
          <%= link_to 'Bid', new_mission_bid_path(mission), class: 'btn btn-primary'%>
        </div>
      </div>
    <% end %>
  </div>

</div>
