<div class="container d-flex flex-wrap mt-5">
  <%= form_with url: missions_path, method: :get, class: "d-flex w-100" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a mission"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
  <div class="d-flex justify-content-center flex-wrap w-100">
    <% @missions.each do |mission|%>
      <div class="card m-1"style="width: 265px">
        <%= cl_image_tag("oorxnhfwegtuekzccdxt", class:'card-img-top') %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to mission.title, mission_path(mission)%></h5>
          <p class="card-subtitle text-gray"><%= mission.user.username %></p>
          <p class="text-truncate"><%= mission.details %></p>
          <h5><%= mission.price.to_i %> MAD</h5>
          <%= link_to 'Bid', new_mission_bid_path(mission), class: 'btn btn-primary'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
