
<div class="container mt-5">
  <h2>New Mission</h2>
  <%= simple_form_for(@mission) do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.input :price %>
    <%= f.submit %>
  <% end %>
</div>
