<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <%= @mission.title %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @mission.details %></p>
      <% if @mission.user != current_user%>
        <%= link_to 'Bid', new_mission_bid_path(@mission), class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
  <div class="container mt-4">
    <h1>Bids</h1>
    <% @mission.bids.each do |bid| %>
      <div class="card">
        <div class="card-body">
          <%= bid.message %>
          <% if bid.user == current_user %>
          <%= link_to 'Edit', edit_bid_path(bid) %>
          <%= link_to 'Delete', mission_bid_path(bid.mission_id, bid),  data: {turbo_method: :delete} %>
          <% elsif bid.user != current_user && @mission.user == current_user %>
          Accept
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


