<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <%= @mission.title %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @mission.details %></p>
      <% if @mission.user != current_user%>
        <%= link_to 'Bid', new_mission_bid_path(@mission), class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
  <div class="container mt-4">

    <div class="card">
      <div class="card-header">
      <div class="card-title"><h2>Bids</h2></div>
      </div>
      <% @mission.bids.each do |bid| %>
        <div class="card mb-5">
          <div class="card-header">
            <div class="card-title"><%= bid.user.username %></div>
            pe
          </div>
          <div class="card-body">
            <div class="card-text"><%= bid.message %></div>
          </div>
          <div class="card-footer">
            <% time = (-(bid.created_at - DateTime.now).round) %>
            <% if time > 604800 %>
              <% days = time / 604800 %>
              <%= days %> days
            <% elsif time > 86400 %>
              <% days = time / 86400 %>
              <%= days %> days
            <% elsif time > 3600 %>
              <% hours = time / 3600 %>
              <%= hours %> hours
            <% elsif time > 3600 %>
              <% hours = time / 3600 %>
              <%= hours %> hours
            <% elsif time > 60 %>
              <% min = time / 60 %>
              <%= min %> minutes
            <% elsif time < 60 %>
              <%= time %> secondes
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
